body {
    font-family: 'PT Sans', sans-serif;
}
ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #000;
}
h3 {
    font-weight: 400;
}
h2 {
    text-align: center;
}
.title {
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}
.title__main{
    font-size: 32px;
}
.title__text{
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
}
.yellow {
    color: #fcdb00;
}


.header {
    padding-top: 58px;
    background-color: #fcdb00;
    color: #010101;
    padding-bottom: 105px;
}

.menu {
    margin-top: 10px;
}
.menu__item {
    margin: 0 57px;
}
.menu__item a {
    font-weight: 700;
    font-size: 22px;
    color: #000;
    text-decoration: none;
}
.menu__item a:hover {
    color: #fff;
    transition: all 0.3s ease;
}

.offer {
    margin-top: 117px;
}
.offer__title {
    font-size: 32px;
    margin-bottom: 15px;
}
.offer__intro {
    font-size: 20px;
    line-height: 1.3em;
}
.offer__text {
    font-size: 16px;
    margin-top: 15px;
    color: #555555;
    width: 400px;
}

.icons__item{
    margin-right: 30px;
}
.icons__item a {
    color: #000;
    font-size: 42px;
}
.icons__item a:hover {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

.IPad {
    display: block;
    margin: 60px auto 0;
}


.feature{
    margin-bottom: 65px;
}
.feature__icon {
    font-size: 50px;
    margin-right: 37px;
    color: #000;
}
.feature__text {
    color: #898989;
}


.touch { 
    background-color: #000;
    color: #fff;
}

.form {
    text-align: center;
}
.form__input {
    background-color: #fff;
    font-size: 16px;
    border-radius: 5px;
    width: 580px;
    padding: 15px 0;
    margin-right: 21px;
    border: 0;
    padding-left: 23px;
    outline: none;
}
.form__button {
    color: #000;
    background-color: #fcdb00;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    width: 126px;
    border: 0;
    padding: 15px 0;
    cursor: pointer;
}


.footer {
    background-color: #000;
    padding: 50px 0 94px;
}

.credits {
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 184px;
    margin: 0 auto;
}


 @media screen and (max-width: 992px) {
     .logo {
         display: block;
         margin: 0 auto;
         margin-bottom: 30px;
     }
     .offer {
         text-align: center;
     }
     .offer__text {
        margin: 20px auto;
        width: auto;
    }
    .icons {
        justify-content: center;
    }
    .icons:nth-child(3){
        margin-right: 0;
    }
    .form__input {
        text-align: center;
        margin-right: 0;
        width: 100%;
    }
    .form__button {
        margin-top: 20px;
        width: 100%;
    }
    .title__text {
        width: auto;
    }
 }

 @media screen and (max-width: 576px) {
     .IPad {
        width: 100%;
     }
     .offer {
        margin-top: 50px;
     }
     .menu {
         flex-direction: column;
     }
     .menu__item {
        text-align: center;
        margin-bottom: 15px;
 }